$color-result: linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%);
$color-circle: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0.00) 100%, rgba(37, 33, 201, 0.00) 100%);
$color-dark-navy: #303B59;
$color-red-gradient: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #F55;
$color-red: #F55;
$color-yellow: #FFB21E;
$color-white: #FFF;
$color-body: #ECF2FF;
$color-lightblue: #CAC9FF;
$color-green: #00BB8F;
$color-blue: #1125D6;
$color-blue-gradient: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #00BB8F;